<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registrapp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>
  
    <ion-card>
      <ion-card-header>
        <ion-card-title>Login</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="formularioLogin">
          <ion-item lines="full">
            <ion-label position="floating">Usuario</ion-label>
            <ion-input formControlName="usuario" minlength="3" maxlength="8" type="text"></ion-input>
          </ion-item>
          
          <ion-item lines="full">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="password" minlength="3" maxlength="8" pattern="[0-9]*" type="password"></ion-input>
          </ion-item>
        </form>
        <ion-button  size="large" (click)="iniciarSesion()" expand="block"  >inicio</ion-button>
       <ion-buttons slot="start">
        <ion-button  (click)="registrar()">
          registrarse
        </ion-button>
        <ng-container *ngIf="a" > <a [routerLink]="['/reestablecer']" >olvido su contraseña?</a></ng-container>
       </ion-buttons>
      </ion-card-content>

    </ion-card>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      Desarrollado por AFTeam
    </ion-title>
  </ion-toolbar>
</ion-footer>