ion-header {
  --background: var(--ion-color-primary);
  color: #fff;
  text-align: center;
}

ion-toolbar {
  --background: var(--ion-color-primary);
  display: flex;
  align-items: center;
}

ion-title {
  font-size: 1.5em;
  text-align: center;
}

ion-content {
  --background: var(--ion-color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

ion-list {
    width: 90%; 
    max-width: 800px; 
    margin: auto; 
  }
  
  ion-item {
    display: flex;
    justify-content: space-between;
  }
  

ion-toolbar.toolbar-footer {
  --background: var(--ion-color-dark);
  color: #fff;
  text-align: center;
}

ion-button {
    --background: var(--ion-color-secondary);
    color: #333; 
    font-size: 1em;
    padding: 10px 20px;
    text-transform: capitalize;
  }
  
@media (max-width: 768px) {
  ion-list {
    width: 90%; /* Ajusta el ancho para dispositivos más pequeños */
  }
}
