ion-header {
    --background: var(--ion-color-primary);
    color: #fff;
    text-align: center;
  }
  
  ion-toolbar {
    --background: var(--ion-color-primary);
  }
  
  ion-title {
    font-size: 1.5em;
    text-align: center;
  }
  
  ion-content {
    --background: var(--ion-color-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  ion-card {
    text-align: center;
    margin: 20px auto; 
    width: 80%;
    max-width: 600px;
  }
  
  ion-list {
    width: 80%;
    max-width: 600px; 
    margin: auto; 
  }
  
  ion-button {
    --background: var(--ion-color-secondary);
    color: #fff;
    margin-top: 10px;
    font-size: 1em;
    padding: 10px 20px;
    text-transform: capitalize;
  }
  
  ion-card-content {
    margin-top: 20px;
  }
  
  ion-toolbar.toolbar-footer {
    --background: var(--ion-color-dark);
    color: #fff;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    ion-list {
      width: 90%;
    }
  }
  