<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>vista-alumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">vista-alumno</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-title>Bienvenido/a  {{ usuario?.nombre }}</ion-title>
    <ion-item></ion-item>
    
  </ion-list>

  <ion-card>
    <ion-icon name="construct-sharp"></ion-icon>
    <h1 >Pagina en construccion</h1>
  </ion-card>

  <ion-button  size="large" (click)="iniciarEscaneo()" expand="block"  >Iniciar Escaneooo</ion-button>


  



    <ion-toolbar>
      <ion-button [routerLink]="['/login']" >
        Volver
      </ion-button>
      <ion-buttons slot="end">
        <ion-button  (click)="logOut()">
          Cerrar sesion
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      Desarrollado por AFTeam
    </ion-title>
  </ion-toolbar>
</ion-footer>
