<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Registro</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <form [formGroup]="formularioRegistro">
    <ion-item>
      <ion-label type="name">Nombre <ion-text color="danger">*</ion-text></ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Apellido <ion-text color="danger">*</ion-text></ion-label>
      <ion-input formControlName="apellido"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Usuario <ion-text color="danger">*</ion-text></ion-label>
      <ion-input formControlName="usuario"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Contraseña <ion-text color="danger">*</ion-text></ion-label>
      <ion-input formControlName="password" type="password" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Confirmar Contraseña <ion-text color="danger">*</ion-text></ion-label>
      <ion-input formControlName="confirmaPassword" type="password"></ion-input>
    </ion-item>
    
  </form>
    <ion-button (click)="registro()"  size="large"  expand="block" fill="clear" shape="round">
      Registrarse
    </ion-button>

    <ion-button [routerLink]="['/login']"  size="large"  expand="block" fill="clear" shape="round">
      login
    </ion-button>
   
    
    

</ion-content>
